:root {
  font-size: 16px;
}

h1 {
    display: block;
    font-size: 1.4rem;
    margin-block-start: 0;
    margin-block-end: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.title, .title2 {
  width: 100%;
  text-align: center;
  background-color: #1c1c1c;
  z-index: 1;
}

.title {
  padding-top: 10px;
  color: #d5c4a1;
  font-size: 3rem;
  position: absolute;
  left: 0;
  top: 0;
}

.title2 {
  color: #ebdbb2;
  font-size: 1.4rem;
  position: absolute;
  left: 0;
  top: 3.75rem;
  height: 25px;
  padding-bottom: 0.5rem;
}

.nav, .P-Header, p {
  overflow: visible;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: #1c1c1c;
  z-index: 5;
}

.content {
  height: 100vh;
}

.blog-link, .home-link, .projects-link, .nav-placeholder {
  flex-grow: 1;
}

.P-Header {
  text-align: center;
  font-size: 2rem;
}

body {
  background-color: #2b2827;
}

p {
  color: #ebdbb2;
  text-align: center;
  font-size: 1rem;
  margin-left: 20%;
  margin-right: 20%;
}

footer {
  color: #b8bb26;
  background-color: #1c1c1c;
  overflow: visible;
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  height: 1.5rem;
  width: 100%;
}

a:link {
  color: #83a598;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #d3869b;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #8ec07c;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #fb4934;
  background-color: transparent;
  text-decoration: underline;
}
